@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}

.menu-items, .main-navigation div nav ul li a {
  font-size: 16px;
  line-height: 17px;
  font-weight: bold;
}

h2,
.h2,
.login-form-content-wrapper .login-form-content span,
.views-field-field-first-name,
.views-field-field-last-name {
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
}

.subtext, #block-fac-theme-views-block-recent-publications-block-1 .views-field-field-publisher {
  font-size: 12px;
  line-height: 17px;
}

.contact-info, #block-views-block-interests-block-1-2 .views-field-field-interests .field-content a, .views-field-field-phone .field-content a, .views-field-mail .field-content a {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  color: #404A6E;
  font-style: italic;
}

.h3, #block-pagetitle h1, .education-view header, .experience-view header, .publication-view header, #block-views-block-interests-block-1-2 .views-field-field-interests,
h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.h4, .publications-views-row .views-field-title, .expirence-wrapper .expirence__content .exp-content__title, .education-views-row .views-field-field-degree, #block-fac-theme-views-block-recent-publications-block-1 .views-field-body-1,
h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

h5,
.h5,
.publications-views-row .views-field-field-authors,
.expirence-wrapper .expirence__content .exp-content__company,
.education-views-row .views-field-field-university {
  font-size: 12px;
  line-height: 16px;
  font-style: italic;
}

h6,
.h6,
.publications-views-row .views-field-field-publication-date,
.publications-views-row .views-field-field-publication-type,
.expirence-wrapper .expirence__content .exp-content__date,
.education-views-row .views-field-field-start-year,
.education-views-row .views-field-field-end-year,
.views-field-field-publication-type {
  font-size: 10px;
  line-height: 16px;
}

.label, #edit-revision-information #edit-revision-log-wrapper .js-form-item .description, #edit-field-publication-url-wrapper .form-wrapper .fieldset-wrapper .js-form-item .description, #edit-field-publication-url-wrapper .form-wrapper legend span, .field--type-datetime h4, .login-form-content-wrapper .login-form-content .login-form-content__register, .login-form-content-wrapper .login-form-content .login-form-content__forgot-password,
label {
  font-size: 12px;
  line-height: 17px;
  color: #8C98A9;
  font-weight: normal;
  margin: 0 0 3px 0;
}

.input, .user-education-form input, .user-experience-form input, .node-publications-edit-form input, .login-form-content-wrapper .login-form-content .user-login-form .js-form-item-name input,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-pass input,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-type-textfield input,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-mail input,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-name input,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-pass input,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-type-textfield input,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-mail input, .login-form-content-wrapper .login-form-content .user-education-form .js-form-item-name input,
.login-form-content-wrapper .login-form-content .user-education-form .js-form-item-pass input,
.login-form-content-wrapper .login-form-content .user-education-form .js-form-type-textfield input,
.login-form-content-wrapper .login-form-content .user-education-form .js-form-item-mail input, .login-form-content-wrapper .login-form-content .user-pass .js-form-item-name input,
.login-form-content-wrapper .login-form-content .user-pass .js-form-item-pass input,
.login-form-content-wrapper .login-form-content .user-pass .js-form-type-textfield input,
.login-form-content-wrapper .login-form-content .user-pass .js-form-item-mail input, .select-items, .select-selected,
input {
  font-size: 13px;
  line-height: 18px;
  color: #2E384D;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E0E7FF;
  border-radius: 5px;
  margin: 0;
  text-align: left;
  padding: 10px 11px;
}
@media screen and (max-width: 767px) {
  .input, .user-education-form input, .user-experience-form input, .node-publications-edit-form input, .login-form-content-wrapper .login-form-content .user-login-form .js-form-item-name input,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-pass input,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-type-textfield input,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-mail input,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-name input,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-pass input,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-type-textfield input,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-mail input, .login-form-content-wrapper .login-form-content .user-education-form .js-form-item-name input,
.login-form-content-wrapper .login-form-content .user-education-form .js-form-item-pass input,
.login-form-content-wrapper .login-form-content .user-education-form .js-form-type-textfield input,
.login-form-content-wrapper .login-form-content .user-education-form .js-form-item-mail input, .login-form-content-wrapper .login-form-content .user-pass .js-form-item-name input,
.login-form-content-wrapper .login-form-content .user-pass .js-form-item-pass input,
.login-form-content-wrapper .login-form-content .user-pass .js-form-type-textfield input,
.login-form-content-wrapper .login-form-content .user-pass .js-form-item-mail input, .select-items, .select-selected,
input {
    width: 100%;
  }
}

a,
.a,
.login-form-content-wrapper .login-form-content .login-form-content__register .login-form-content__register--link,
.login-form-content-wrapper .login-form-content .login-form-content__register .login-form-content__forgot-password--link,
.login-form-content-wrapper .login-form-content .login-form-content__forgot-password .login-form-content__register--link,
.login-form-content-wrapper .login-form-content .login-form-content__forgot-password .login-form-content__forgot-password--link {
  font-size: 12px;
  line-height: 17px;
  color: #2E5BFF;
}

.copyright, .login-form-content-wrapper .login-form-content .login-form-content__copyright span {
  font-size: 10px;
  line-height: 20px;
  color: #404A6E;
  font-weight: normal;
}

p {
  font-size: 16px;
  line-height: 24px;
  color: #404A6E;
  margin: 0 !important;
}

.italic-font {
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  color: #404A6E;
  font-style: italic;
}

.input-checkbox, .form-checkboxes label {
  font-size: 12px;
  line-height: 17px;
  font-weight: bold;
  color: #404A6E;
}

.btn, #edit-field-authors-wrapper #field-authors-add-more-wrapper .js-form-item .clearfix .field-add-more-submit, .section-publication .views-exposed-form .js-form-type-checkbox label, .section-publication .views-exposed-form .form-submit, .publications-views-row .views-field-delete-node .field-content a,
.publications-views-row .views-field-edit-node .field-content a, .user-education-form .button, .user-education-form .tabledrag-toggle-weight, .user-experience-form .button, .user-experience-form .tabledrag-toggle-weight, .node-publications-edit-form .button, .node-publications-edit-form .tabledrag-toggle-weight, .login-form-content-wrapper .login-form-content .user-login-form .button,
.login-form-content-wrapper .login-form-content .user-register-form .button, .login-form-content-wrapper .login-form-content .user-education-form .button, .login-form-content-wrapper .login-form-content .user-pass .button, header .logout, .form-checkboxes label, .section-publication header a,
.section-education header a,
.section-experience header a {
  font-size: 12px;
  line-height: 32px;
  font-weight: bold;
  color: #2E5BFF;
  border: 1px solid #2E5BFF;
  background-color: transparent;
  padding: 4px 10px;
  border-radius: 5px;
  text-align: center;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.btn:hover, #edit-field-authors-wrapper #field-authors-add-more-wrapper .js-form-item .clearfix .field-add-more-submit:hover, .section-publication .views-exposed-form .js-form-type-checkbox label:hover, .section-publication .views-exposed-form .form-submit:hover, .publications-views-row .views-field-delete-node .field-content a:hover,
.publications-views-row .views-field-edit-node .field-content a:hover, .user-education-form .button:hover, .user-education-form .tabledrag-toggle-weight:hover, .user-experience-form .button:hover, .user-experience-form .tabledrag-toggle-weight:hover, .node-publications-edit-form .button:hover, .node-publications-edit-form .tabledrag-toggle-weight:hover, .login-form-content-wrapper .login-form-content .user-login-form .button:hover,
.login-form-content-wrapper .login-form-content .user-register-form .button:hover, .login-form-content-wrapper .login-form-content .user-education-form .button:hover, .login-form-content-wrapper .login-form-content .user-pass .button:hover, header .logout:hover, .form-checkboxes label:hover, .section-publication header a:hover,
.section-education header a:hover,
.section-experience header a:hover {
  background-color: #2E5BFF;
  color: #fff;
  text-decoration: none;
}
.btn:focus, #edit-field-authors-wrapper #field-authors-add-more-wrapper .js-form-item .clearfix .field-add-more-submit:focus, .section-publication .views-exposed-form .js-form-type-checkbox label:focus, .section-publication .views-exposed-form .form-submit:focus, .publications-views-row .views-field-delete-node .field-content a:focus,
.publications-views-row .views-field-edit-node .field-content a:focus, .user-education-form .button:focus, .user-education-form .tabledrag-toggle-weight:focus, .user-experience-form .button:focus, .user-experience-form .tabledrag-toggle-weight:focus, .node-publications-edit-form .button:focus, .node-publications-edit-form .tabledrag-toggle-weight:focus, .login-form-content-wrapper .login-form-content .user-login-form .button:focus,
.login-form-content-wrapper .login-form-content .user-register-form .button:focus, .login-form-content-wrapper .login-form-content .user-education-form .button:focus, .login-form-content-wrapper .login-form-content .user-pass .button:focus, header .logout:focus, .form-checkboxes label:focus, .section-publication header a:focus,
.section-education header a:focus,
.section-experience header a:focus {
  outline: none;
}
.btn--large, .login-form-content-wrapper .login-form-content .user-login-form .button,
.login-form-content-wrapper .login-form-content .user-register-form .button, .login-form-content-wrapper .login-form-content .user-education-form .button, .login-form-content-wrapper .login-form-content .user-pass .button {
  padding: 4px 50px;
  width: 100%;
}
.btn--medium {
  padding: 5px 10px;
}
.btn--small, #edit-field-authors-wrapper #field-authors-add-more-wrapper .js-form-item .clearfix .field-add-more-submit, .section-publication .views-exposed-form .js-form-type-checkbox label, .publications-views-row .views-field-delete-node .field-content a,
.publications-views-row .views-field-edit-node .field-content a, .user-education-form .button, .user-education-form .tabledrag-toggle-weight, .user-experience-form .button, .user-experience-form .tabledrag-toggle-weight, .node-publications-edit-form .button, .node-publications-edit-form .tabledrag-toggle-weight, header .logout, .section-publication header a,
.section-education header a,
.section-experience header a {
  padding: 0px 10px;
  border-radius: 20px;
  line-height: 30px;
}
.btn--extra-small, .section-publication .views-exposed-form .form-submit, .form-checkboxes label {
  line-height: 20px;
  border-radius: 20px;
  width: auto;
}

.section-publication header a,
.section-education header a,
.section-experience header a {
  margin-left: 10px;
}
.section-publication header a:hover,
.section-education header a:hover,
.section-experience header a:hover {
  background-color: #2E5BFF;
  color: #fff;
  text-decoration: none;
}

.form-checkboxes {
  display: flex;
  padding: 10px 0;
}
.form-checkboxes .js-form-type-checkbox {
  margin-right: 10px;
}
.form-text {
  margin: 0 !important;
}

header .logout {
  float: right;
}

.js-form-type-select select {
  display: none;
}

.select-selected {
  color: #404A6E;
  cursor: pointer;
  width: 200px;
}
@media screen and (max-width: 767px) {
  .select-selected {
    width: 100%;
  }
}

.select-items {
  position: absolute;
  background-color: #fff;
  top: 100%;
  right: 0;
  z-index: 99;
  width: 200px;
  padding: 0;
  border-radius: 0;
  display: block;
}
.select-items div {
  color: #666;
  padding: 5.5px 20px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
.select-items div:hover {
  color: #fff;
  background-color: #2E5BFF;
}
.select-items div:hover::before {
  border: 1px solid #fff;
}
.select-items div::before {
  content: " ";
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: 1px solid #333;
  display: inline-block;
  margin-right: 10px;
  line-height: 15px;
  vertical-align: middle;
}

.select-hide {
  display: none;
}

.same-as-selected {
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  textarea {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .js-form-type-select {
    width: 100%;
  }
}

.same-as-selected::before {
  content: " ";
  background: url("../images/tick-icon.png");
  background-color: #2E5BFF;
  background-size: cover;
  background-position: center;
  font-weight: bold;
}

/**
 * Breakpoint Configuration
 * @see https://github.com/Team-Sass/breakpoint/wiki
 *
 */
.views-field-user-picture .field-content img {
  width: 280px;
  height: 280px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}
@media screen and (min-width: 810px) and (max-width: 1024px) {
  .views-field-user-picture .field-content img {
    width: 250px;
    height: 250px;
  }
}

.views-field-field-headline {
  font-size: 13px;
  font-style: italic;
  text-align: center;
}

.views-field-field-phone, .views-field-mail {
  display: flex;
  text-align: center;
}
.views-field-field-phone .field-content, .views-field-mail .field-content {
  width: 100%;
}
.views-field-field-phone .field-content a, .views-field-mail .field-content a {
  text-decoration: none;
}

.views-field-field-phone {
  margin-top: 10px;
}

#block-fac-theme-views-block-recent-publications-block-1 {
  margin-top: 40px;
}
#block-fac-theme-views-block-recent-publications-block-1 .views-view-grid .row {
  margin-left: 0;
}
#block-fac-theme-views-block-recent-publications-block-1 .views-view-grid .row .col-sm-12 {
  border: 1px solid #3943600D;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  #block-fac-theme-views-block-recent-publications-block-1 .views-view-grid .row .col-sm-12 {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
#block-fac-theme-views-block-recent-publications-block-1 h2 {
  font-size: 18px !important;
}
.views-field-field-publication-date {
  font-size: 10px;
}

.views-field-field-publication-type a {
  text-decoration: none;
  color: #404A6E;
}

#block-views-block-interests-block-1-2 .views-field-field-interests {
  margin-top: 40px;
}
#block-views-block-interests-block-1-2 .views-field-field-interests .field-content {
  display: flex;
  flex-wrap: wrap;
}
#block-views-block-interests-block-1-2 .views-field-field-interests .field-content a {
  border: 1px solid #3943600D;
  padding: 5px 10px;
  margin-right: 10px;
  text-decoration: none;
  margin-top: 10px;
}

.views-field-field-social-links .field-content a::before {
  font-size: 15px;
  text-align: center;
  padding: 10px;
  border-radius: 100%;
  background-color: #B3B7C5;
  font-weight: bold;
}

.views-field-field-social-links {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-right: 15px;
}
.views-field-field-social-links .field-content a {
  font-size: 0;
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

.views-field-field-social-links .field-content a:hover::before {
  background-color: #404A6E;
}

.publication__list {
  margin-top: 40px;
}

.morecontent span {
  display: none;
}

.profile__about {
  text-align: justify;
}

.main-navigation div nav {
  height: 50px;
  border-bottom: 1px solid #d1c9c9;
}
@media screen and (max-width: 767px) {
  .main-navigation div nav {
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    box-shadow: 0px -8px 16px 0px #404A6E14;
    margin-top: 10px;
    border-bottom: none;
    height: 60px;
  }
}
.main-navigation div nav ul {
  display: flex;
  align-items: flex-end;
  overflow: auto;
  white-space: nowrap;
  justify-content: left;
  height: 100%;
  padding-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .main-navigation div nav ul {
    align-items: center;
  }
}
.main-navigation div nav ul li {
  list-style: none;
  padding-right: 20px;
}
.main-navigation div nav ul li a {
  color: #9FA5B7;
  text-decoration: none;
}

#header {
  height: 80px;
  padding-top: 30px;
  margin-bottom: 10px;
}
#header .row {
  width: 100%;
}

.main-navigation div nav ul li .is-active {
  color: #6A93FF;
  border-bottom: 2px solid #6A93FF;
  padding-bottom: 4px;
}
@media screen and (max-width: 767px) {
  .main-navigation div nav ul li .is-active {
    padding: 10px 15px;
    background-color: #6A93FF;
    border-bottom: none;
    color: white;
    border-radius: 30px;
  }
}

.login-form {
  background: var(--white) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #00000008;
  margin-top: 60px;
}
@media (max-width: 576px) {
  .login-form {
    margin-top: 0;
  }
}
.login-form .login-form-image {
  height: 100%;
}
.login-form .login-form-image .login-form-image__content {
  width: 598px;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  object-fit: cover;
}
@media only screen and (max-width: 1200px) {
  .login-form .login-form-image .login-form-image__content {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .login-form .login-form-image .login-form-image__content {
    width: 100%;
  }
}

.login-form-content-wrapper .login-form-content {
  margin-top: 40px;
}
@media (max-width: 576px) {
  .login-form-content-wrapper .login-form-content {
    padding: 0 10px;
  }
}
.login-form-content-wrapper .login-form-content .login-form-content__logolink {
  display: block;
  text-align: center;
  margin-bottom: 116px;
}
@media only screen and (max-width: 1024px) {
  .login-form-content-wrapper .login-form-content .login-form-content__logolink {
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .login-form-content-wrapper .login-form-content .login-form-content__logolink {
    margin-bottom: 50px;
  }
}
.login-form-content-wrapper .login-form-content .login-form-content__register, .login-form-content-wrapper .login-form-content .login-form-content__forgot-password {
  display: block;
  text-align: center;
  margin-top: 12px;
}
.login-form-content-wrapper .login-form-content .login-form-content__register .login-form-content__register--link, .login-form-content-wrapper .login-form-content .login-form-content__register .login-form-content__forgot-password--link, .login-form-content-wrapper .login-form-content .login-form-content__forgot-password .login-form-content__register--link, .login-form-content-wrapper .login-form-content .login-form-content__forgot-password .login-form-content__forgot-password--link {
  margin-left: 2px;
}
.login-form-content-wrapper .login-form-content .login-form-content__register .login-form-content__register--link:hover, .login-form-content-wrapper .login-form-content .login-form-content__register .login-form-content__forgot-password--link:hover, .login-form-content-wrapper .login-form-content .login-form-content__forgot-password .login-form-content__register--link:hover, .login-form-content-wrapper .login-form-content .login-form-content__forgot-password .login-form-content__forgot-password--link:hover {
  text-decoration: none;
}
.login-form-content-wrapper .login-form-content .login-form-content__forgot-password {
  margin-top: 0;
}
.login-form-content-wrapper .login-form-content .login-form-content__copyright {
  display: block;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .login-form-content-wrapper .login-form-content .login-form-content__copyright {
    bottom: unset;
    position: relative;
  }
}
.login-form-content-wrapper .login-form-content .login-form-content__copyright span {
  text-transform: uppercase;
}
.login-form-content-wrapper .login-form-content span {
  padding: 0 145px;
  text-align: left;
  color: #404A6E;
}
@media only screen and (max-width: 1200px) {
  .login-form-content-wrapper .login-form-content span {
    padding: 0 50px;
  }
}
@media (max-width: 576px) {
  .login-form-content-wrapper .login-form-content span {
    padding: 0;
  }
}
.login-form-content-wrapper .login-form-content .user-login-form,
.login-form-content-wrapper .login-form-content .user-register-form, .login-form-content-wrapper .login-form-content .user-education-form, .login-form-content-wrapper .login-form-content .user-pass {
  padding: 0 145px;
}
@media only screen and (max-width: 1200px) {
  .login-form-content-wrapper .login-form-content .user-login-form,
.login-form-content-wrapper .login-form-content .user-register-form, .login-form-content-wrapper .login-form-content .user-education-form, .login-form-content-wrapper .login-form-content .user-pass {
    padding: 0 50px;
  }
}
@media (max-width: 576px) {
  .login-form-content-wrapper .login-form-content .user-login-form,
.login-form-content-wrapper .login-form-content .user-register-form, .login-form-content-wrapper .login-form-content .user-education-form, .login-form-content-wrapper .login-form-content .user-pass {
    padding: 0;
  }
}
.login-form-content-wrapper .login-form-content .user-login-form .form-item,
.login-form-content-wrapper .login-form-content .user-register-form .form-item, .login-form-content-wrapper .login-form-content .user-education-form .form-item, .login-form-content-wrapper .login-form-content .user-pass .form-item {
  margin-top: 17px;
}
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-name input,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-pass input,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-type-textfield input,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-mail input,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-name input,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-pass input,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-type-textfield input,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-mail input, .login-form-content-wrapper .login-form-content .user-education-form .js-form-item-name input,
.login-form-content-wrapper .login-form-content .user-education-form .js-form-item-pass input,
.login-form-content-wrapper .login-form-content .user-education-form .js-form-type-textfield input,
.login-form-content-wrapper .login-form-content .user-education-form .js-form-item-mail input, .login-form-content-wrapper .login-form-content .user-pass .js-form-item-name input,
.login-form-content-wrapper .login-form-content .user-pass .js-form-item-pass input,
.login-form-content-wrapper .login-form-content .user-pass .js-form-type-textfield input,
.login-form-content-wrapper .login-form-content .user-pass .js-form-item-mail input {
  width: 100%;
}
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-name .description,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-pass .description,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-type-textfield .description,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-mail .description,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-name .description,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-pass .description,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-type-textfield .description,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-mail .description, .login-form-content-wrapper .login-form-content .user-education-form .js-form-item-name .description,
.login-form-content-wrapper .login-form-content .user-education-form .js-form-item-pass .description,
.login-form-content-wrapper .login-form-content .user-education-form .js-form-type-textfield .description,
.login-form-content-wrapper .login-form-content .user-education-form .js-form-item-mail .description, .login-form-content-wrapper .login-form-content .user-pass .js-form-item-name .description,
.login-form-content-wrapper .login-form-content .user-pass .js-form-item-pass .description,
.login-form-content-wrapper .login-form-content .user-pass .js-form-type-textfield .description,
.login-form-content-wrapper .login-form-content .user-pass .js-form-item-mail .description {
  display: none;
}
.login-form-content-wrapper .login-form-content .user-login-form label,
.login-form-content-wrapper .login-form-content .user-register-form label, .login-form-content-wrapper .login-form-content .user-education-form label, .login-form-content-wrapper .login-form-content .user-pass label {
  text-transform: capitalize;
  margin: 0 0 3px 0;
}
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-name .form-text::before,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-name .form-text::before, .login-form-content-wrapper .login-form-content .user-education-form .js-form-item-name .form-text::before, .login-form-content-wrapper .login-form-content .user-pass .js-form-item-name .form-text::before {
  content: "EMail / Phone Number";
}
.login-form-content-wrapper .login-form-content .user-login-form .button,
.login-form-content-wrapper .login-form-content .user-register-form .button, .login-form-content-wrapper .login-form-content .user-education-form .button, .login-form-content-wrapper .login-form-content .user-pass .button {
  margin-top: 40px;
}
.login-form-content-wrapper .login-form-content .user-login-form .field--name-field-first-name,
.login-form-content-wrapper .login-form-content .user-register-form .field--name-field-first-name, .login-form-content-wrapper .login-form-content .user-education-form .field--name-field-first-name, .login-form-content-wrapper .login-form-content .user-pass .field--name-field-first-name {
  display: inline-block;
}
@media only screen and (max-width: 1920px) {
  .login-form-content-wrapper .login-form-content .user-login-form .field--name-field-first-name,
.login-form-content-wrapper .login-form-content .user-register-form .field--name-field-first-name, .login-form-content-wrapper .login-form-content .user-education-form .field--name-field-first-name, .login-form-content-wrapper .login-form-content .user-pass .field--name-field-first-name {
    width: 250px;
  }
}
@media only screen and (max-width: 1680px) {
  .login-form-content-wrapper .login-form-content .user-login-form .field--name-field-first-name,
.login-form-content-wrapper .login-form-content .user-register-form .field--name-field-first-name, .login-form-content-wrapper .login-form-content .user-education-form .field--name-field-first-name, .login-form-content-wrapper .login-form-content .user-pass .field--name-field-first-name {
    width: 210px;
  }
}
@media only screen and (max-width: 1440px) {
  .login-form-content-wrapper .login-form-content .user-login-form .field--name-field-first-name,
.login-form-content-wrapper .login-form-content .user-register-form .field--name-field-first-name, .login-form-content-wrapper .login-form-content .user-education-form .field--name-field-first-name, .login-form-content-wrapper .login-form-content .user-pass .field--name-field-first-name {
    width: 155px;
  }
}
@media only screen and (max-width: 1366px) {
  .login-form-content-wrapper .login-form-content .user-login-form .field--name-field-first-name,
.login-form-content-wrapper .login-form-content .user-register-form .field--name-field-first-name, .login-form-content-wrapper .login-form-content .user-education-form .field--name-field-first-name, .login-form-content-wrapper .login-form-content .user-pass .field--name-field-first-name {
    width: 135px;
  }
}
@media only screen and (max-width: 1200px) {
  .login-form-content-wrapper .login-form-content .user-login-form .field--name-field-first-name,
.login-form-content-wrapper .login-form-content .user-register-form .field--name-field-first-name, .login-form-content-wrapper .login-form-content .user-education-form .field--name-field-first-name, .login-form-content-wrapper .login-form-content .user-pass .field--name-field-first-name {
    width: 100%;
  }
}
.login-form-content-wrapper .login-form-content .user-login-form .field--name-field-last-name,
.login-form-content-wrapper .login-form-content .user-register-form .field--name-field-last-name, .login-form-content-wrapper .login-form-content .user-education-form .field--name-field-last-name, .login-form-content-wrapper .login-form-content .user-pass .field--name-field-last-name {
  width: 130px;
  float: right;
}
@media only screen and (max-width: 1920px) {
  .login-form-content-wrapper .login-form-content .user-login-form .field--name-field-last-name,
.login-form-content-wrapper .login-form-content .user-register-form .field--name-field-last-name, .login-form-content-wrapper .login-form-content .user-education-form .field--name-field-last-name, .login-form-content-wrapper .login-form-content .user-pass .field--name-field-last-name {
    width: 250px;
  }
}
@media only screen and (max-width: 1680px) {
  .login-form-content-wrapper .login-form-content .user-login-form .field--name-field-last-name,
.login-form-content-wrapper .login-form-content .user-register-form .field--name-field-last-name, .login-form-content-wrapper .login-form-content .user-education-form .field--name-field-last-name, .login-form-content-wrapper .login-form-content .user-pass .field--name-field-last-name {
    width: 210px;
  }
}
@media only screen and (max-width: 1440px) {
  .login-form-content-wrapper .login-form-content .user-login-form .field--name-field-last-name,
.login-form-content-wrapper .login-form-content .user-register-form .field--name-field-last-name, .login-form-content-wrapper .login-form-content .user-education-form .field--name-field-last-name, .login-form-content-wrapper .login-form-content .user-pass .field--name-field-last-name {
    width: 155px;
  }
}
@media only screen and (max-width: 1366px) {
  .login-form-content-wrapper .login-form-content .user-login-form .field--name-field-last-name,
.login-form-content-wrapper .login-form-content .user-register-form .field--name-field-last-name, .login-form-content-wrapper .login-form-content .user-education-form .field--name-field-last-name, .login-form-content-wrapper .login-form-content .user-pass .field--name-field-last-name {
    width: 135px;
  }
}
@media only screen and (max-width: 1200px) {
  .login-form-content-wrapper .login-form-content .user-login-form .field--name-field-last-name,
.login-form-content-wrapper .login-form-content .user-register-form .field--name-field-last-name, .login-form-content-wrapper .login-form-content .user-education-form .field--name-field-last-name, .login-form-content-wrapper .login-form-content .user-pass .field--name-field-last-name {
    width: 100%;
  }
}
.login-form-content-wrapper .login-form-content .user-login-form .password-strength,
.login-form-content-wrapper .login-form-content .user-register-form .password-strength, .login-form-content-wrapper .login-form-content .user-education-form .password-strength, .login-form-content-wrapper .login-form-content .user-pass .password-strength {
  display: none;
}
.login-form-content-wrapper .login-form-content .user-login-form .password-confirm,
.login-form-content-wrapper .login-form-content .user-register-form .password-confirm, .login-form-content-wrapper .login-form-content .user-education-form .password-confirm, .login-form-content-wrapper .login-form-content .user-pass .password-confirm {
  display: none;
}
.login-form-content-wrapper .login-form-content .user-login-form .confirm-parent,
.login-form-content-wrapper .login-form-content .user-register-form .confirm-parent, .login-form-content-wrapper .login-form-content .user-education-form .confirm-parent, .login-form-content-wrapper .login-form-content .user-pass .confirm-parent {
  display: none;
}
.login-form-content-wrapper .login-form-content .user-login-form .ajax-progress.ajax-progress-throbber,
.login-form-content-wrapper .login-form-content .user-register-form .ajax-progress.ajax-progress-throbber, .login-form-content-wrapper .login-form-content .user-education-form .ajax-progress.ajax-progress-throbber, .login-form-content-wrapper .login-form-content .user-pass .ajax-progress.ajax-progress-throbber {
  font-size: 10px;
}
.login-form-content-wrapper .login-form-content .user-login-form #valid_username,
.login-form-content-wrapper .login-form-content .user-register-form #valid_username, .login-form-content-wrapper .login-form-content .user-education-form #valid_username, .login-form-content-wrapper .login-form-content .user-pass #valid_username {
  font-size: 12px;
}
.login-form-content-wrapper .login-form-content div[role=alert], .login-form-content-wrapper .login-form-content div [role=contentinfo] {
  font-size: 12px;
  margin: 5px 0 0 0;
  color: #ff0000;
}
.login-form-content-wrapper .login-form-content div[role=alert] ul, .login-form-content-wrapper .login-form-content div [role=contentinfo] ul {
  list-style-type: none;
}
.login-form-content-wrapper .login-form-content div[role=alert] {
  padding: 0 145px;
}
@media only screen and (max-width: 1200px) {
  .login-form-content-wrapper .login-form-content div[role=alert] {
    padding: 0 50px;
  }
}
@media (max-width: 576px) {
  .login-form-content-wrapper .login-form-content div[role=alert] {
    padding: 0;
  }
}

.user-education-form .button, .user-education-form .tabledrag-toggle-weight, .user-experience-form .button, .user-experience-form .tabledrag-toggle-weight, .node-publications-edit-form .button, .node-publications-edit-form .tabledrag-toggle-weight {
  margin-right: 10px;
}
@media (max-width: 576px) {
  .user-education-form input, .user-experience-form input, .node-publications-edit-form input {
    width: 100%;
  }
}
.user-education-form .form-actions, .user-experience-form .form-actions, .node-publications-edit-form .form-actions {
  margin-top: 15px;
  display: flex;
}
.user-education-form .form-item, .user-experience-form .form-item, .node-publications-edit-form .form-item {
  margin-top: 17px;
}
.user-education-form .js-form-type-select, .user-experience-form .js-form-type-select, .node-publications-edit-form .js-form-type-select {
  position: relative;
  display: inline-block;
}
.user-education-form .field-multiple-drag, .user-experience-form .field-multiple-drag, .node-publications-edit-form .field-multiple-drag {
  display: none;
}
.user-education-form th, .user-experience-form th, .node-publications-edit-form th {
  display: none;
}

form {
  padding: 20px 0;
}
form .tabledrag-toggle-weight {
  display: none;
}

.landing-page__logo {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.landing-page__login,
.landing-page__register {
  padding: 10px 0;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #2E5BFF;
  color: #f0efef;
  width: 50%;
}

.landing-page__login:hover {
  background-color: #2E5BFF;
  color: #f0efef;
  transition: 0.1s ease-in-out;
  text-decoration: none;
}

.landing-page__register:hover {
  color: #2E5BFF;
  background-color: white;
  border: 1px solid #2E5BFF;
  transition: 0.1s ease-in-out;
  text-decoration: none;
}

.landing-page__login {
  color: #2E5BFF;
  background-color: white;
  border: 1px solid #2E5BFF;
}

.landing-page_button-wrapper {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

.landing-page__content {
  text-align: justify;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  .landing-page__content {
    padding-right: 0;
  }
}

.education-view header, .experience-view header, .publication-view header {
  text-align: left;
  margin-bottom: 10px;
  letter-spacing: 0px;
  color: #404A6E;
}

.education-views-row {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #3943600D;
  border-radius: 4px;
  padding: 19px 8px;
  margin: 10px 0 6px 0;
}
.education-views-row .views-field-field-degree {
  letter-spacing: 0px;
  color: #404A6E;
}
.education-views-row .views-field-field-university {
  text-align: left;
  letter-spacing: 0px;
  color: #404A6E;
}
.education-views-row .views-field-field-start-year,
.education-views-row .views-field-field-end-year {
  letter-spacing: 0px;
  color: #404A6E;
  display: inline-block;
}
.education-views-row .views-field-field-start-year {
  margin-right: 2px;
}
.education-views-row .views-field-field-end-year {
  position: relative;
  margin-left: 5px;
}
.education-views-row .views-field-field-end-year::before {
  content: "-";
  position: absolute;
  right: 24px;
}

.expirence-wrapper {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.expirence-wrapper .expirence__img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  text-align: center;
  border: 1px solid #3943600D;
  margin-right: 20px;
  line-height: 80px;
}
.expirence-wrapper .expirence__content p {
  margin-bottom: 0px;
}
.expirence-wrapper .expirence__content .exp-content__date {
  font-style: italic;
}

.field--type-datetime h4 {
  margin: 20px 0 10px 0;
}

.publications-views-row {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #3943600D;
  border-radius: 4px;
  margin: 16px 0;
  padding: 16px;
}
.publications-views-row .views-field-field-publication-date,
.publications-views-row .views-field-field-publication-type {
  display: inline-block;
  letter-spacing: 0px;
  color: #404A6E;
}
.publications-views-row .views-field-field-publication-type .field-content {
  border-left: 1px solid #404A6E;
  padding-left: 6px;
}
.publications-views-row .views-field-field-publication-date {
  margin-right: 6px;
}
.publications-views-row .views-field-title {
  letter-spacing: 0px;
  color: #404A6E;
  margin-top: 12px;
}
.publications-views-row .views-field-field-authors {
  text-align: left;
  letter-spacing: 0px;
  color: #404A6E;
  display: flex;
}
.publications-views-row .views-field-field-authors::before {
  content: "By";
}
.publications-views-row .views-field-field-authors .field-content {
  margin-left: 2px;
}
.publications-views-row .views-field-field-publication-url a {
  line-break: anywhere;
}
.publications-views-row .views-field-delete-node,
.publications-views-row .views-field-edit-node {
  display: inline-block;
  margin-right: 10px;
}
.publications-views-row .views-field-delete-node .field-content a,
.publications-views-row .views-field-edit-node .field-content a {
  margin-top: 10px;
}

.section-publication .views-exposed-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-publication .views-exposed-form legend {
  display: none;
}
.section-publication .views-exposed-form .js-form-type-checkbox {
  position: relative;
}
.section-publication .views-exposed-form .js-form-type-checkbox .form-checkbox {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.section-publication .views-exposed-form .js-form-type-checkbox label {
  margin: 0;
  background-color: #fff;
}
.section-publication .views-exposed-form .js-form-type-checkbox label:hover {
  background-color: #2E5BFF;
}
.section-publication .views-exposed-form .js-form-type-checkbox label.active {
  background-color: #2E5BFF;
  color: #fff;
}

#edit-field-authors-wrapper #field-authors-add-more-wrapper .js-form-item .field-multiple-table tbody .draggable td {
  padding: 0;
}
#edit-field-authors-wrapper #field-authors-add-more-wrapper .js-form-item .clearfix .field-add-more-submit {
  margin-top: 20px;
}

#edit-field-publication-url-wrapper .form-wrapper .fieldset-wrapper .js-form-item .description {
  margin-top: 10px;
  color: red;
}

.education-view header, .experience-view header, .publication-view header {
  text-align: left;
  margin-bottom: 10px;
  letter-spacing: 0px;
  color: #404A6E;
}

.education-views-row {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #3943600D;
  border-radius: 4px;
  padding: 19px 8px;
  margin: 10px 0 6px 0;
}
.education-views-row .views-field-field-degree {
  letter-spacing: 0px;
  color: #404A6E;
}
.education-views-row .views-field-field-university {
  text-align: left;
  letter-spacing: 0px;
  color: #404A6E;
}
.education-views-row .views-field-field-start-year,
.education-views-row .views-field-field-end-year {
  letter-spacing: 0px;
  color: #404A6E;
  display: inline-block;
}
.education-views-row .views-field-field-start-year {
  margin-right: 2px;
}
.education-views-row .views-field-field-end-year {
  position: relative;
  margin-left: 5px;
}
.education-views-row .views-field-field-end-year::before {
  content: "-";
  position: absolute;
  right: 24px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.container-fluid {
  padding: 0 90px !important;
}
@media screen and (max-width: 768px) {
  .container-fluid {
    padding: 0 15px !important;
  }
}
@media screen and (min-width: 810px) and (max-width: 1024px) {
  .container-fluid {
    padding: 0 15px !important;
  }
}

.small-text-color {
  color: #323338;
}

#main {
  margin-top: 20px;
}

#sidebar-first {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 25%;
  position: fixed;
}
@media screen and (max-width: 768px) {
  #sidebar-first {
    position: initial;
    width: 100%;
  }
}

/*# sourceMappingURL=global.css.map */
