/**
 * Breakpoint Configuration
 * @see https://github.com/Team-Sass/breakpoint/wiki
 *
 */
.views-field-user-picture .field-content img {
  width: 280px;
  height: 280px;
  border-radius: 100%;
  object-fit: cover;
  margin-bottom: 20px;
}
@media screen and (min-width: 810px) and (max-width: 1024px) {
  .views-field-user-picture .field-content img {
    width: 250px;
    height: 250px;
  }
}

.views-field-field-first-name, .views-field-field-last-name {
  font-size: 24px;
  font-weight: bold;
}

.views-field-field-headline {
  font-size: 13px;
  font-style: italic;
  text-align: center;
}

.views-field-field-phone, .views-field-mail {
  font-size: 13px;
  font-style: italic;
  display: flex;
  text-align: center;
}
.views-field-field-phone .field-content, .views-field-mail .field-content {
  width: 100%;
}
.views-field-field-phone .field-content a, .views-field-mail .field-content a {
  color: #404A6E;
  text-decoration: none;
}

.views-field-field-phone {
  margin-top: 10px;
}

#block-fac-theme-views-block-recent-publications-block-1 {
  margin-top: 40px;
}
#block-fac-theme-views-block-recent-publications-block-1 .views-view-grid .row {
  margin-left: 0;
}
#block-fac-theme-views-block-recent-publications-block-1 .views-view-grid .row .col-sm-12 {
  border: 1px solid #3943600D;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  #block-fac-theme-views-block-recent-publications-block-1 .views-view-grid .row .col-sm-12 {
    margin-bottom: 20px;
    margin-right: 0;
  }
}
#block-fac-theme-views-block-recent-publications-block-1 h2 {
  font-size: 18px !important;
}
#block-fac-theme-views-block-recent-publications-block-1 .views-field-body-1 {
  font-size: 14px;
  font-weight: 600;
}
#block-fac-theme-views-block-recent-publications-block-1 .views-field-field-publisher {
  font-size: 12px;
}

.views-field-field-publication-date {
  font-size: 10px;
}

.views-field-field-publication-type {
  font-size: 10px;
}
.views-field-field-publication-type a {
  text-decoration: none;
  color: #404A6E;
}

#block-views-block-interests-block-1-2 .views-field-field-interests {
  font-size: 18px;
  font-weight: bold;
  margin-top: 40px;
}
#block-views-block-interests-block-1-2 .views-field-field-interests .field-content {
  display: flex;
  flex-wrap: wrap;
}
#block-views-block-interests-block-1-2 .views-field-field-interests .field-content a {
  font-size: 12px;
  border: 1px solid #3943600D;
  padding: 5px 10px;
  color: #404A6E;
  font-weight: 500;
  font-style: italic;
  margin-right: 10px;
  text-decoration: none;
  margin-top: 10px;
}

.views-field-field-social-links .field-content a::before {
  font-size: 15px;
  text-align: center;
  padding: 10px;
  border-radius: 100%;
  background-color: #B3B7C5;
  font-weight: bold;
}

.views-field-field-social-links {
  margin-top: 10px;
  margin-bottom: 25px;
  margin-right: 15px;
}
.views-field-field-social-links .field-content a {
  font-size: 0;
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

.views-field-field-social-links .field-content a:hover::before {
  background-color: #404A6E;
}

.publication__list {
  margin-top: 40px;
}

.morecontent span {
  display: none;
}

.main-navigation div nav {
  height: 50px;
  border-bottom: 1px solid #d1c9c9;
}
@media screen and (max-width: 767px) {
  .main-navigation div nav {
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    box-shadow: 0px -8px 16px 0px #404A6E14;
    margin-top: 10px;
    border-bottom: none;
    height: 60px;
  }
}
.main-navigation div nav ul {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  height: 100%;
  padding-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .main-navigation div nav ul {
    align-items: center;
  }
}
.main-navigation div nav ul li {
  list-style: none;
  padding-right: 20px;
}
.main-navigation div nav ul li a {
  color: #9FA5B7;
  font-family: adobe-clean, sans-serif;
  text-decoration: none;
  font-size: 16px;
}

#header {
  height: 80px;
  padding-top: 30px;
  margin-bottom: 10px;
}
#header .row {
  width: 100%;
}

.main-navigation div nav ul li .is-active {
  color: #6A93FF;
  border-bottom: 2px solid #6A93FF;
  padding-bottom: 7px;
}
@media screen and (max-width: 767px) {
  .main-navigation div nav ul li .is-active {
    padding: 10px 15px;
    background-color: #6A93FF;
    border-bottom: none;
    color: white;
    border-radius: 30px;
  }
}

.login-form {
  background: var(--white) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #00000008;
  margin-top: 60px;
}
@media (max-width: 576px) {
  .login-form {
    margin-top: 0;
  }
}
.login-form .login-form-image .login-form-image__content {
  width: 598px;
  height: 648px;
  border-radius: 5px 0px 0px 5px;
  object-fit: cover;
}
@media only screen and (max-width: 1200px) {
  .login-form .login-form-image .login-form-image__content {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .login-form .login-form-image .login-form-image__content {
    width: 100%;
  }
}

.login-form-content-wrapper .login-form-content {
  margin-top: 40px;
}
.login-form-content-wrapper .login-form-content .login-form-content__logolink {
  display: block;
  text-align: center;
  margin-bottom: 116px;
}
@media (max-width: 576px) {
  .login-form-content-wrapper .login-form-content .login-form-content__logolink {
    margin-bottom: 50px;
  }
}
.login-form-content-wrapper .login-form-content .login-form-content__register {
  display: block;
  text-align: center;
  font: normal normal normal 12px/17px Open Sans;
  letter-spacing: 0px;
  margin-top: 12px;
}
.login-form-content-wrapper .login-form-content .login-form-content__register .login-form-content__register--link {
  color: #2E5BFF;
  margin-left: 2px;
}
.login-form-content-wrapper .login-form-content .login-form-content__register .login-form-content__register--link:hover {
  text-decoration: none;
}
.login-form-content-wrapper .login-form-content .login-form-content__copyright {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .login-form-content-wrapper .login-form-content .login-form-content__copyright {
    bottom: unset;
  }
}
.login-form-content-wrapper .login-form-content .login-form-content__copyright span {
  font: normal normal normal 10px/20px Open Sans;
  letter-spacing: 0px;
  color: #404A6E;
  text-transform: uppercase;
}
.login-form-content-wrapper .login-form-content span {
  padding: 0 145px;
  text-align: left;
  font: normal normal bold 24px/33px Open Sans;
  letter-spacing: 0px;
  color: #404A6E;
}
@media only screen and (max-width: 1200px) {
  .login-form-content-wrapper .login-form-content span {
    padding: 0 50px;
  }
}
@media (max-width: 576px) {
  .login-form-content-wrapper .login-form-content span {
    padding: 0;
  }
}
.login-form-content-wrapper .login-form-content .user-login-form,
.login-form-content-wrapper .login-form-content .user-register-form {
  padding: 0 145px;
}
@media only screen and (max-width: 1200px) {
  .login-form-content-wrapper .login-form-content .user-login-form,
.login-form-content-wrapper .login-form-content .user-register-form {
    padding: 0 50px;
  }
}
@media (max-width: 576px) {
  .login-form-content-wrapper .login-form-content .user-login-form,
.login-form-content-wrapper .login-form-content .user-register-form {
    padding: 0;
  }
}
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-name input,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-pass input,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-type-textfield input,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-mail input,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-name input,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-pass input,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-type-textfield input,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-mail input {
  width: 100%;
  background: var(--white) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E0E7FF;
  border-radius: 5px;
  margin: 0;
  text-align: left;
  font: normal normal 600 13px/18px Open Sans;
  letter-spacing: 0px;
  color: #2E384D;
  padding: 13px 11px;
}
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-name .description,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-pass .description,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-type-textfield .description,
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-mail .description,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-name .description,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-pass .description,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-type-textfield .description,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-mail .description {
  display: none;
}
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-pass .description,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-pass .description {
  text-align: right;
  font: normal normal normal 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #8C98A9;
  margin-bottom: 18px;
  margin-top: 5px;
}
.login-form-content-wrapper .login-form-content .user-login-form label,
.login-form-content-wrapper .login-form-content .user-register-form label {
  font: normal normal normal 12px/17px Open Sans;
  letter-spacing: 0px;
  color: #8C98A9;
  text-transform: capitalize;
  margin: 0 0 3px 0;
}
.login-form-content-wrapper .login-form-content .user-login-form .js-form-item-name .form-text::before,
.login-form-content-wrapper .login-form-content .user-register-form .js-form-item-name .form-text::before {
  content: "EMail / Phone Number";
}
.login-form-content-wrapper .login-form-content .user-login-form .button,
.login-form-content-wrapper .login-form-content .user-register-form .button {
  background: #4272F0 0% 0% no-repeat padding-box;
  border-radius: 5px;
  border: none;
  color: var(--white);
  text-align: center;
  padding: 4px 50px;
  width: 100%;
  font: normal normal normal 12px/32px Open Sans;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 20px;
}
.login-form-content-wrapper .login-form-content .user-login-form .field--name-field-first-name,
.login-form-content-wrapper .login-form-content .user-register-form .field--name-field-first-name {
  display: inline-block;
  width: 130px;
}
@media only screen and (max-width: 1200px) {
  .login-form-content-wrapper .login-form-content .user-login-form .field--name-field-first-name,
.login-form-content-wrapper .login-form-content .user-register-form .field--name-field-first-name {
    width: 100%;
  }
}
.login-form-content-wrapper .login-form-content .user-login-form .field--name-field-last-name,
.login-form-content-wrapper .login-form-content .user-register-form .field--name-field-last-name {
  width: 130px;
  float: right;
}
@media only screen and (max-width: 1200px) {
  .login-form-content-wrapper .login-form-content .user-login-form .field--name-field-last-name,
.login-form-content-wrapper .login-form-content .user-register-form .field--name-field-last-name {
    width: 100%;
  }
}
.login-form-content-wrapper .login-form-content .user-login-form .password-strength,
.login-form-content-wrapper .login-form-content .user-register-form .password-strength {
  display: none;
}
.login-form-content-wrapper .login-form-content .user-login-form .password-confirm,
.login-form-content-wrapper .login-form-content .user-register-form .password-confirm {
  display: none;
}
.login-form-content-wrapper .login-form-content .user-login-form .confirm-parent,
.login-form-content-wrapper .login-form-content .user-register-form .confirm-parent {
  display: none;
}

h1, h2, h3, h4, h5, h6, p, label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 82px;
}

h2 {
  font-size: 52px;
  font-weight: 700;
  line-height: 62px;
}

h3 {
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
}

h4 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
}

h5 {
  font-size: 24px !important;
  line-height: 32px !important;
  font-weight: 600;
}

h5 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
}

p {
  font-size: 16px;
  line-height: 26px;
}

.landing-page__logo {
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.landing-page__login,
.landing-page__register {
  padding: 10px 0;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #2E5BFF;
  color: #f0efef;
  width: 50%;
}

.landing-page__login:hover {
  background-color: #2E5BFF;
  color: #f0efef;
  transition: 0.1s ease-in-out;
  text-decoration: none;
}

.landing-page__register:hover {
  color: #2E5BFF;
  background-color: white;
  border: 1px solid #2E5BFF;
  transition: 0.1s ease-in-out;
  text-decoration: none;
}

.landing-page__login {
  color: #2E5BFF;
  background-color: white;
  border: 1px solid #2E5BFF;
}

.landing-page_button-wrapper {
  width: 100%;
  display: flex;
  margin-top: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

.container-fluid {
  padding: 0 90px !important;
}
@media screen and (max-width: 768px) {
  .container-fluid {
    padding: 0 15px !important;
  }
}
@media screen and (min-width: 810px) and (max-width: 1024px) {
  .container-fluid {
    padding: 0 15px !important;
  }
}

.small-text-color {
  color: #323338;
}

#main {
  margin-top: 20px;
}

#sidebar-first {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 25%;
  position: fixed;
}
@media screen and (max-height: 1023px) {
  #sidebar-first {
    position: initial;
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
