<div class="expirence-wrapper">
    <div class="expirence__img">
        <img src = "{{ directory }}/images/office-building.png"></img>
    </div>
    <div class="expirence__content">
        {% if fields.field_job_title %}
            <p class="exp-content__title">{{fields.field_job_title.content}}</p>
        {% endif %}
         {% if fields.field_company %}
            <p class="exp-content__company">{{fields.field_company.content}}</p>
        {% endif %}
        <p class="exp-content__date">{{fields.field_start_date.content.value | date("M Y") }} -  {{fields.field_end_date.content.value | date("M Y")}}</p>
    </div>
</div>