/**
 * Breakpoint Configuration
 * @see https://github.com/Team-Sass/breakpoint/wiki
 *
 */
/////////////////////
// Global Breakpoints
// Avoid using in favor of atomic, content-specific, breakpoints.
// These should be used for generic code, like layouts and typography, only.
$small: 375px;
$small-medium: 576px;
$medium: 768px;
$large: 1024px;
$large-medium: 1200px;
$xl: 1366px;
$xxl: 1440px;
$xxxl: 1680px;
$pro: 1920px;

//Sass mixins:
/// Mixin - small Breakpoint
/// Allows easier @include small {} syntax
@mixin small {
    @media (max-width: 375px) {
        @content;
      }
  }

/// Mixin - small Breakpoint
/// Allows easier @include small {} syntax
@mixin small-medium {
    @media (max-width: 576px) {
      @content;
    }
  }

/// Mixin -  medium Breakpoint
/// Allows easier @include  medium {} syntax
@mixin medium {
    @media only screen and (max-width: 768px) {
        @content;
      }
  }

/// Mixin -  large Breakpoint
/// Allows easier @include  large {} syntax
@mixin large {
    @media only screen and (max-width: 1024px) {
        @content;
      }
  }
/// Mixin -  large Breakpoint
/// Allows easier @include  large {} syntax
@mixin large-medium {
    @media only screen and (max-width: 1200px) {
        @content;
      }
  }

/// Mixin -  xl Breakpoint
/// Allows easier @include  xl {} syntax
@mixin xl {
    @media only screen and (max-width: 1366px) {
        @content;
      }
  }

/// Mixin -  xxl Breakpoint
/// Allows easier @include  xxl {} syntax
@mixin xxl {
    @media only screen and (max-width: 1440px) {
        @content;
      }
  }

/// Mixin -  xxxl Breakpoint
/// Allows easier @include  xxxl {} syntax
@mixin xxxl {
    @media only screen and (max-width: 1680px) {
        @content;
      }
  }

/// Mixin -  pro Breakpoint
/// Allows easier @include  pro {} syntax
@mixin pro {
    @media only screen and (max-width: 1920px) {
        @content;
      }
  }