.education-view, .experience-view,.publication-view{
    header{
        text-align: left;
        margin-bottom: 10px;
        @extend .h3;
        letter-spacing: 0px;
        color: $portgore;
    }
}
.education-views-row {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #3943600D;
    border-radius: 4px;
    padding: 19px 8px;
    margin: 10px 0 6px 0;

    .views-field-field-degree {
        @extend .h4;
        letter-spacing: 0px;
        color: $portgore;
    }

    .views-field-field-university {
        text-align: left;
        @extend .h5;
        letter-spacing: 0px;
        color: $portgore;
    }

    .views-field-field-start-year,
    .views-field-field-end-year {
        @extend .h6;
        letter-spacing: 0px;
        color: $portgore;
        display: inline-block;
    }
    .views-field-field-start-year{
        margin-right: 2px;
    }
    .views-field-field-end-year {
        position: relative;
        margin-left: 5px;
        &::before{
            content: '-';
            position: absolute;
            right: 24px;
        }
    }
}