#block-pagetitle{
    h1{
        @extend .h3;
    }
}

.expirence-wrapper{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    .expirence__img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        text-align: center;
        border: 1px solid #3943600D;
        margin-right: 20px;
        line-height: 80px;
    }
    .expirence__content{
        p{
            margin-bottom: 0px;
        }
        .exp-content__title{
            @extend .h4;
        }
        .exp-content__company{
            @extend .h5;
        }
        .exp-content__date{
            @extend .h6;
            font-style: italic;
        }
    }
}

.field--type-datetime{
    h4{
        @extend .label;
        margin: 20px 0 10px 0;
    }
}