.login-form {
    background: var(--white) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #00000008;
    margin-top: 60px;

    @include small-medium {
        margin-top: 0;
    }

    .login-form-image {
        height: 100%;
        .login-form-image__content {
            width: 598px;
            height: 100%;
            border-radius: 5px 0px 0px 5px;
            object-fit: cover;

            @include large-medium {
                width: 100%;
            }

            @include small-medium {
                width: 100%;
            }
        }
    }
}

.login-form-content-wrapper {
    .login-form-content {
        margin-top: 40px;
        @include small-medium{
            padding: 0 10px;
        }
        .login-form-content__logolink {
            display: block;
            text-align: center;
            margin-bottom: 116px;
            @include large{
                margin-bottom: 20px;
            }

            @include small-medium {
                margin-bottom: 50px;
            }
        }

        .login-form-content__register,.login-form-content__forgot-password {
            display: block;
            text-align: center;
            @extend .label;
            margin-top: 12px;

            .login-form-content__register--link,.login-form-content__forgot-password--link {
                @extend .a;
                margin-left: 2px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
        .login-form-content__forgot-password{
            margin-top: 0;
        }

        .login-form-content__copyright {

            display: block;
            text-align: center;

            @include medium {
                bottom: unset;
                position: relative;
            }

            span {
                @extend .copyright;
                text-transform: uppercase;
                
            }
        }

        span {
            padding: 0 145px;
            text-align: left;
            @extend .h2;
            color:$portgore;

            @include large-medium {
                padding: 0 50px;
            }

            @include small-medium {
                padding: 0;
            }
        }

        .user-login-form,
        .user-register-form,.user-education-form,.user-pass {
            padding: 0 145px;

            @include large-medium {
                padding: 0 50px;
            }

            @include small-medium {
                padding: 0;
            }
            .form-item{
                margin-top: 17px;
            }
            .js-form-item-name,
            .js-form-item-pass,
            .js-form-type-textfield,
            .js-form-item-mail {
                input {
                    width: 100%;
                    @extend .input;

                }

                .description {
                    display: none;
                }
            }


            label {
                text-transform: capitalize;
                margin: 0 0 3px 0;
            }

            .js-form-item-name {
                .form-text {
                    &::before {
                        content: "EMail / Phone Number";
                    }
                }
            }

            .button {
                @extend .btn;
                @extend .btn--large;
                margin-top: 40px;
            }

            .field--name-field-first-name {
                display: inline-block;

                @include pro {
                    width: 250px;
                }

                @include xxxl {
                    width: 210px;
                }

                @include xxl {
                    width: 155px;
                }
                @include xl {
                    width: 135px;
                }

                @include large-medium {
                    width: 100%;
                }
            }

            .field--name-field-last-name {
                width: 130px;
                float: right;

                @include pro {
                    width: 250px;
                }

                @include xxxl {
                    width: 210px;
                }

                @include xxl {
                    width: 155px;
                }
                @include xl {
                    width: 135px;
                }

                @include large-medium {
                    width: 100%;
                }
            }

            .password-strength {
                display: none;
            }

            .password-confirm {
                display: none;
            }

            .confirm-parent {
                display: none;
            }
            //Ajax fontsize
            .ajax-progress {
                &.ajax-progress-throbber{
                    font-size: 10px;
                }
            }
            //Valid Username
            #valid_username{
                font-size: 12px;
            }
        }
        // Error Message
        div{
            &[role="alert"],[role="contentinfo"]{
                font-size: 12px;
                margin: 5px 0 0 0;
                color: $bluntred;
                ul{
                    list-style-type: none;
                }
            }
            &[role="alert"]{
            padding: 0 145px;
            @include large-medium {
                padding: 0 50px;
            }

            @include small-medium {
                padding: 0;
            }
            }

        }
    }
}
//User education form
.user-education-form,.user-experience-form, .node-publications-edit-form{
    .button,.tabledrag-toggle-weight{
        @extend .btn;
        @extend .btn--small;
        margin-right: 10px;
    }
    input{
        @extend .input;
        @include small-medium {
           width: 100%;
        }
    }
    .form-actions{
        margin-top: 15px;
        display: flex;
    }
    .form-item{
        margin-top: 17px;
    }
    .js-form-type-select{
        position: relative;
        display: inline-block;
    }
    .field-multiple-drag{
        display: none;
    }
    th{
        display: none;
    }
}

form{
    padding: 20px 0;
    .tabledrag-toggle-weight{
        display: none;
    }
}