@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import './setting.scss';
@import './breakpoints.scss';
@import './variables.scss';
@import './profile.scss';
@import './menu.scss';
@import './form.scss';
@import './landing-page.scss';
@import './education.scss';
@import './experience.scss';
@import './publications.scss';
@import './education.scss';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
.container-fluid{
    padding: 0 90px !important;
    @media screen and (max-width: 768px){
        padding: 0 15px !important;
    }
    @media screen and (min-width: 810px) and (max-width: 1024px){
        padding: 0 15px !important;
    }
}

.small-text-color{
    color: #323338;
}

#main{
    margin-top: 20px;
}

#sidebar-first{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 25%;
    position: fixed;
    @media screen and (max-width: 768px){
        position: initial;
        width: 100%;
    }
}