.landing-page__logo{
    display: block;
    text-align: center;
    margin-bottom: 50px;
}

.landing-page__login,
.landing-page__register{
    padding: 10px 0;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    border-radius:5px;
    margin-right: 10px;
    background-color: $blue;
    color: rgb(240, 239, 239);
    width: 50%;
}

.landing-page__login:hover{
    background-color: $blue;
    color: rgb(240, 239, 239);
    transition: .1s ease-in-out;
    text-decoration: none;
}

.landing-page__register:hover{
    color: $blue;
    background-color: white;
    border: 1px solid $blue;
    transition: .1s ease-in-out;
    text-decoration: none;
}

.landing-page__login{
    color: $blue;
    background-color: white;
    border: 1px solid $blue;
}

.landing-page_button-wrapper{
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.landing-page__content{
    text-align: justify;
    padding-right: 15px;
    @media screen and (max-width: 767px){
        padding-right: 0;
    }
}