.main-navigation{
    div{
        nav{
            height: 50px;
            border-bottom: 1px solid rgb(209, 201, 201);
            @media screen and (max-width: 767px){
                padding: 0;
                overflow-x: scroll;
                overflow-y: hidden;
                box-shadow: 0px -8px 16px 0px #404A6E14;
                margin-top: 10px;
                border-bottom: none;
                height: 60px;
            }
            
            ul{
                display: flex;
                align-items: flex-end;
                // justify-content: space-between;
                overflow: auto;
                white-space: nowrap;
                justify-content: left;
                height: 100%;
                padding-bottom: 5px;
                @media screen and (max-width: 767px){
                    align-items: center;
                }
                li{
                    list-style: none;
                    padding-right: 20px;
                    a{
                        color: #9FA5B7;
                        text-decoration: none;
                        @extend .menu-items;
                    }
                }
            }
        }
    }
}

#header{
    height: 80px;
    padding-top: 30px;
    margin-bottom: 10px;
    .row{
        width: 100%;
    }
}

.main-navigation{
    div{
        nav{
            ul{
                li{
                    .is-active{
                        color: #6A93FF; 
                        border-bottom: 2px solid #6A93FF;
                        padding-bottom: 4px;
                        @media screen and (max-width: 767px){
                            padding: 10px 15px;
                            background-color: #6A93FF;
                            border-bottom: none;
                            color: white;
                            border-radius: 30px;
                        }
                    }
                }
            }
        }
    }
}

