.views-field-user-picture{
    .field-content{
        img{
            width: 280px;
            height: 280px;
            border-radius: 100%;
            object-fit: cover;
            margin-bottom: 20px;
            @media screen and (min-width: 810px) and (max-width: 1024px){
                width: 250px;
                height: 250px;
            }
        }
    }
}

.views-field-field-first-name, .views-field-field-last-name{
    @extend .h2;
}

.views-field-field-headline{
    font-size: 13px;
    font-style: italic;
    text-align: center;
}

.views-field-field-phone, .views-field-mail{
    display: flex;
    text-align: center;
    .field-content{
        width: 100%;
        a{
            @extend .contact-info;
            text-decoration: none;
        }
    }
}

.views-field-field-phone{
    margin-top: 10px;
}

#block-fac-theme-views-block-recent-publications-block-1{
    margin-top: 40px;
    .views-view-grid{
        .row{
            margin-left: 0;
            .col-sm-12{
                border: 1px solid #3943600D;
                padding: 10px 20px;
                border-radius: 5px;
                margin-right: 20px;
                @media screen and (max-width: 768px){
                    margin-bottom: 20px;
                    margin-right: 0;
                }
            }
        }
    }
    h2{
        font-size: 18px !important;
    }

    .views-field-body-1{
        @extend .h4;
    }

    .views-field-field-publisher{
        @extend .subtext;
    }
}

.views-field-field-publication-date{
    font-size: 10px;
}

.views-field-field-publication-type{
    @extend .h6;
    a{
        text-decoration: none;
        color: #404A6E;
    }
}

#block-views-block-interests-block-1-2 {
    .views-field-field-interests{
            @extend .h3;
            margin-top: 40px;
            .field-content{
                display: flex;
                flex-wrap: wrap;
                a{
                    border: 1px solid #3943600D;
                    padding: 5px 10px;
                    margin-right: 10px;
                    text-decoration: none;
                    margin-top: 10px;
                    @extend .contact-info;
                }
            }
    }
}

.views-field-field-social-links{
    .field-content{
        a::before{
            font-size: 15px;
            text-align: center;
            padding: 10px;
            border-radius: 100%;
            background-color: #B3B7C5;
            font-weight: bold;
        }
    }
}

.views-field-field-social-links{
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 15px;
    .field-content{
        a{
            font-size: 0;
            color: white;
            margin-left: 10px;
            text-decoration: none;
        }
    }
}

.views-field-field-social-links{
    .field-content{
        a:hover::before{
           background-color: #404A6E;
        }
    }
}


.publication__list{
    margin-top: 40px;
}

.morecontent span {
    display: none;
}

.profile__about{
    text-align: justify;
}
