.publications-views-row {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #3943600D;
    border-radius: 4px;
    margin: 16px 0;
    padding: 16px;

    .views-field-field-publication-date,
    .views-field-field-publication-type {
        display: inline-block;
        @extend .h6;
        letter-spacing: 0px;
        color: #404A6E;
    }

    .views-field-field-publication-type {

        .field-content {
            border-left: 1px solid #404A6E;
            padding-left: 6px;
        }

    }

    .views-field-field-publication-date {
        margin-right: 6px;
    }

    .views-field-title {
        @extend .h4;
        letter-spacing: 0px;
        color: #404A6E;
        margin-top: 12px;
    }

    .views-field-field-authors {
        text-align: left;
        @extend .h5;
        letter-spacing: 0px;
        color: #404A6E;
        display: flex;

        &::before {
            content: 'By';
        }

        .field-content {
            margin-left: 2px;
        }
    }

    .views-field-field-publication-url {
        a {
            line-break: anywhere;
        }
    }

    .views-field-delete-node,
    .views-field-edit-node {
        display: inline-block;
        margin-right: 10px;

        .field-content {
            a {
                margin-top: 10px;
                @extend .btn;
                @extend .btn--small;
            }
        }
    }

}

.section-publication {
    .views-exposed-form {
        display: flex;
        justify-content: space-between;
        align-items: center;

        legend {
            display: none;
        }

        .form-submit {
            @extend .btn;
            @extend .btn--extra-small;
        }

        //Checkboxes
        .js-form-type-checkbox {
            position: relative;

            .form-checkbox {
                position: absolute;
                margin: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 100%;
                width: 100%;
                z-index: -1;
            }

            label {
                @extend .btn;
                @extend .btn--small;
                margin: 0;
                background-color: $white;

                &:hover {
                    background-color: $blue;
                }

                &.active {
                    background-color: $blue;
                    color: $white;
                }
            }
        }
    }


}

#edit-field-authors-wrapper {
    #field-authors-add-more-wrapper {
        .js-form-item {
            .field-multiple-table {
                tbody {
                    .draggable {
                        td {
                            padding: 0
                        }
                    }
                }
            }

            .clearfix {
                .field-add-more-submit {
                    @extend .btn;
                    @extend .btn--small;
                    margin-top: 20px;
                }
            }
        }
    }
}

#edit-field-publication-url-wrapper {
    .form-wrapper {
        legend {
            span {
                @extend .label;
            }
        }

        .fieldset-wrapper {
            .js-form-item {
                .description {
                    @extend .label;
                    margin-top: 10px;
                    color: red;
                }
            }
        }
    }
}

#edit-revision-information {
    #edit-revision-log-wrapper {
        .js-form-item {
            .description {
                @extend .label;
            }
        }
    }
}