@import './variables.scss';

* {
    font-family: $font;
}

.menu-items {
    font-size: 16px;
    line-height: 17px;
    font-weight: bold;
}

h2,
.h2 {
    font-size: 24px;
    line-height: 33px;
    font-weight: bold;
}

.subtext {
    font-size: 12px;
    line-height: 17px;
}

.contact-info {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    color: #404A6E;
    font-style: italic;
}

.h3,
h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.h4,
h4 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
}

h5,
.h5 {
    font-size: 12px;
    line-height: 16px;
    font-style: italic;
}

h6,
.h6 {
    font-size: 10px;
    line-height: 16px;
}

.label,
label {
    font-size: 12px;
    line-height: 17px;
    color: #8C98A9;
    font-weight: normal;
    margin: 0 0 3px 0;
}

.input,
input {
    font-size: 13px;
    line-height: 18px;
    color: #2E384D;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E0E7FF;
    border-radius: 5px;
    margin: 0;
    text-align: left;
    padding: 10px 11px;
    @media screen and (max-width: 767px){
        width: 100%;
    }
}

a,
.a {
    font-size: 12px;
    line-height: 17px;
    color: #2E5BFF
}

.copyright {
    font-size: 10px;
    line-height: 20px;
    color: #404A6E;
    font-weight: normal;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #404A6E;
    margin: 0 !important;
}

.italic-font {
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    color: #404A6E;
    font-style: italic;
}

.input-checkbox {
    font-size: 12px;
    line-height: 17px;
    font-weight: bold;
    color: #404A6E
}


.btn {
    font-size: 12px;
    line-height: 32px;
    font-weight: bold;
    color: $blue;
    border: 1px solid $blue;
    background-color: transparent;
    padding: 4px 10px;
    border-radius: 5px;
    text-align: center;
    transition: .1s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $blue;
        color: $white;
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &--large {
        padding: 4px 50px;
        width: 100%;

    }

    &--medium {
        padding: 5px 10px;
    }

    &--small {
        padding: 0px 10px;
        border-radius: 20px;
        line-height: 30px;
    }

    &--extra-small {
        line-height: 20px;
        border-radius: 20px;
        width: auto;
    }
}

//Global Styling for heading and add button in education,publication,experience
.section-publication,
.section-education,
.section-experience {
    header {
        a {
            @extend .btn;
            @extend .btn--small;
            margin-left: 10px;

            &:hover {
                background-color: $blue;
                color: $white;
                text-decoration: none;
            }
        }
    }
}

//Form checkboxes
.form-checkboxes {
    display: flex;
    padding: 10px 0;

    .js-form-type-checkbox {
        margin-right: 10px;
    }

    label {
        @extend .input-checkbox;
        @extend .btn;
        @extend .btn--extra-small;
        
    }
}

.form-text {
    margin: 0 !important;
}

header {
    .logout {
        @extend .btn;
        @extend .btn--small;
        float: right;
    }
}

//Custom Select Box
.js-form-type-select {
    select {
        display: none;
    }
}

.select-selected {
    color: $portgore;
    cursor: pointer;
    width: 200px;
    @extend .input;
    @media screen and (max-width: 767px){
        width: 100%;
    }
}

.select-items {
    div {
        color: #666;
        padding: 5.5px 20px;
        border: 1px solid transparent;
        border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
        cursor: pointer;
        user-select: none;

        &:hover {
            color: $white;
            background-color: $blue;
        }

        &:hover::before {
            border: 1px solid $white;
        }

        &::before{
            content: " ";
            width: 15px;
            height: 15px;
            border-radius: 5px;
            border: 1px solid #333;
            display: inline-block;
            margin-right: 10px;
            line-height: 15px;
            vertical-align: middle;
        }
    }

    position: absolute;
    background-color: $white;
    top: 100%;
    right: 0;
    z-index: 99;
    width: 200px;
    @extend .input;
    padding: 0;
    border-radius: 0;
    display: block;
}

.select-hide {
    display: none;
}

.same-as-selected {
    background-color: $white;
}

textarea{
    @media screen and (max-width: 767px){
        width: 100%;
    }
}

.js-form-type-select{
    @media screen and (max-width: 767px){
        width: 100%;
    }
}

.same-as-selected::before{
    content: ' ';
    background: url('../images/tick-icon.png');
    background-color: $blue;
    background-size: cover;
    background-position: center;
    font-weight: bold;
}